!!!
%html{:lang => "en", "ng-app" => "StarterApp"}
  %head
    %link{:href => "../bower_components/angular-material/angular-material.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic", :rel => "stylesheet"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
  %body{:layout => "column", "ng-controller" => "AppCtrl"}
    :scss
      .md-toolbar-tools h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: inherit;
      }

    %md-toolbar{:layout => "row"}
      .md-toolbar-tools
        %md-button.md-icon-button{"hide-gt-sm" => "", "ng-click" => "toggleSidenav('left')"}
          %md-icon{"aria-label" => "Menu", "md-svg-icon" => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"}
        %h1 RSS
    %menu
    %div{:flex => "", :layout => "row"}
      #content{:flex => "", :layout => "column"}
        %md-content.md-padding{:flex => "", :layout => "column"}
          .item{ 'ng-repeat' => 'item in items' }
            {{ item.title }}
            %div{"ng-bind-html" => "item.description | rawHtml"}
          .similar-items
            .similar-item{ 'ng-repeat' => 'item in item.similar-items' }
              {{ item.title }}
      %md-sidenav.md-sidenav-left.md-whiteframe-z2{:layout => "column", "md-component-id" => "left", "md-is-locked-open" => "$mdMedia('gt-sm')"}
        .menu{ 'ng-repeat' =>  'm in ["top", "dom", "int", "eco", "ent", "spo", "52", "gourmet", "love", "trend"]' }
          %div{ 'ng-click' => 'changeCatgory(m)' }{{ m }}
    / Angular Material Dependencies
    %script{:src => "/js/vendor/requirejs/require.js"}
    %script{:src => "/js/vendor/angular/angular.min.js"}
    %script{:src => "/js/vendor/angular-animate/angular-animate.min.js"}
    %script{:src => "/js/vendor/angular-aria/angular-aria.min.js"}
    %script{:src => "/js/vendor/angular-material/angular-material.min.js"}
    :javascript
      var app = angular.module('StarterApp', ['ngMaterial']);

      app.controller('AppCtrl', ['$scope', '$mdSidenav', '$http', function($scope, $mdSidenav, $http){
        $scope.toggleSidenav = toggleSidenav;
        $scope.changeCatgory = changeCatgory;
        $http.get('http://localhost:8080/news/top').success(function(response) {
          $scope.items = response
        })

        function toggleSidenav(menuId) {
          $mdSidenav(menuId).toggle();
        };

        function changeCatgory(m) {
          $http.get('http://localhost:8080/news/' + m).success(function(response) {
            $scope.items = response
          })
        }
      }]);

      app.filter('rawHtml', ['$sce', function($sce){
        return function(val) {
          return $sce.trustAsHtml(val);
        };
      }]);
